# Pre-seeded /opt/fog/.fogsettings for an unattended `installfog.sh -y`.
# The critical line is dodhcp='n' — never run a second DHCP server on the segment.
ipaddress='@@FOG_VM_IP@@'
interface='@@FOG_SVC_IFACE@@'
submask='@@PXE_NETMASK@@'
hostname='fog'
password=''
osid='2'
osname='Debian'
dodhcp='n'
bldhcp='0'
blexports='1'
installtype='N'
snmysqlhost='localhost'
snmysqluser='root'
snmysqlpass=''
snmysqldbname='fog'
mysqldbenabled='1'
storageLocation='/images'
plainrouter='@@AWB_HOST_IP@@'
routeraddress='@@AWB_HOST_IP@@'
donate='0'
sslpath='/opt/fog/snapins/ssl/'
backupPath='/home/'
fogupdateloaded='1'
docroot='/var/www/'
webroot='/fog/'
caCreated='yes'
httpproto='http'
startrange=''
endrange=''
bootfilename='undionly.kpxe'
